html {
  height: 100%;
  width: 100%;
}
body{
  background-color: #311c1c;
}
.titulo{ 
  display: flex;
  justify-content: center;
  align-items: center;
}
.titulo img{
  width: 500px;
  margin: 50px;
}
.titulo p{ 
  font-size: 50px;
  color:#1c1d31;
  font-weight: bold;
}
.enlace{ 
  display: flex;
  justify-content: center;
  align-items: center;
}
.enlace a{
  font-size: 30px;
  color:#311c25;
  font-weight: bold;
  font-style: italic;
}
.subtitulo{ 
  display: flex;
  align-items: center;
}
.subtitulo p{
  font-size: 40px;
  font-weight: bold;
  color:#312f1c ;
  margin: 20px;
}
.content{ 
  display: flex;
  justify-content: center;
  align-items: center;
 }
  .content p{
    font-size: 30px;
    color:#1c2c31 ;
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;  
  }
  .content img{
    width: 500px;
    margin: 20px;
    margin-right: 50px;
  }